

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
 
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  
  :root {
    --colorExpand: colorExpand 0.2s ease-in-out forwards;
    --colorRemove: colorRemove 0.2s ease-in-out forwards;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    outline: none;
  }
  
  [hidden] {
    display: none;
  }
  
  html {
    background: #dbb1dd;
  
    font-size: 90%;
    height: 100%;
  }
  
  body {
    width: 100%;
    height: 100%;
  
    display: grid;
    grid-template-areas:
      ". header ."
      ". main .";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 15rem auto;
    grid-row-gap: 1rem;
    overflow-x: hidden;
  
    font: normal 500 1rem/1.5rem;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  h1 {
    font: 4rem/4rem "Potra", Arial, Helvetica, sans-serif;
    margin: 1.5rem 0 1.5rem;
    text-transform: uppercase;
  }
  
  h2 {
    font: normal normal 600 2rem/2.25rem "Montserrat", Helvetica, Arial, sans-serif;
  }
  
  p {
    font: 1.25rem/1.25rem "Potra", Arial, Helvetica, sans-serif;
  }

  header {
    grid-area: header;
  
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  main {
    grid-area: main;
  }


  /*the circle wrap layout grid*/
  
  #signContainer {
    height: 72rem;
    margin: 0 auto 0;
    position: relative;
    width: 60rem;
  
    display: grid;
    grid-template-areas:
      ". pisces aries taurus ."
      "aquarius . . . gemini"
      "capricon . spin . cancer"
      "sagittarius . . . leo"
      ". scorpio libra virgo .";
    grid-template-columns: repeat(5, 25%);
    grid-template-rows: repeat(5, 20%);
    justify-items: stretch;
  }
 

  .sign {
    display: block;
    width: 6.25rem; 
    position: relative;
    background: none;
    border: none;
    padding: 0;
  }
  
  button.sign:hover {
    cursor: pointer;
  }
  
 
  button.sign img {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
  
    /* displayed icons */
    border-radius: 5rem;
    opacity: 0.7;
    transition: opacity 0.25s ease-in-out, filter 0.25s ease-in-out;
  }

   /* noth*/
  button.sign:hover img,
  button.sign:focus img {
    filter: drop-shadow(0 0.1rem 0.5rem rgba(0, 0, 0, 0.6));
    opacity: 1;
  }
  
  button.sign p {
    position: relative;
    top: -0.5rem;
  
    font-family: "MontserratRegular", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
  
    transition: top 0.25s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
  }
  
  button.sign:hover p,
  button.sign:focus p {
    opacity: 1;
    top: -0.25rem;
  }
  
  /* positioning in the circle */
  
  #aries fishtown {
    grid-area: aries;
    top: 2.3625rem;
    right: 3rem;
  }

  
  #taurus park{
    grid-area: taurus;
    top: 6rem;
    right: 6rem;
  }
  
  #gemini rocky {
    grid-area: gemini;
    right: 11.5rem;
    bottom: 2rem;
    
  }
  
  #cancer chinatown{
    grid-area: cancer;
    right: 6rem;
    bottom: 4rem;
  }
  
  #leo ucity{
    grid-area: leo;
    right: 11.2rem;
    bottom: 6rem;
  }
  
  #virgo mfl{
    grid-area: virgo;
    bottom: 13rem;
    right: 6rem;
  }
  
  #libra fishtown{
    grid-area: libra;
    right: 3rem;
    bottom: 7rem;
  }
  
  #scorpio park {
    grid-area: scorpio;
    bottom: 13rem;
  }
  
  #sagittarius rocky{
    grid-area: sagittarius;
    left: 5rem;
    bottom: 6rem;
  }
  
  #capricon chinatown {
    grid-area: capricon;
    bottom: 4rem;
  }
  
  #aquarius ucity{
    grid-area: aquarius;
    left: 5rem;
    bottom: 2rem;
  }
  
  #pisces mfl {
    grid-area: pisces;
    top: 6rem;
  }
  

  #js-click-me {
    grid-area: pisces;
    top: 10rem;
  }

  
  #overlay {
    width: 100vw;
    height: 100vh;
  
    background-color: rgba(222, 233, 66, 0.465);
    color: #f7f7f7;
    
    grid-area: 1 / 1 / -1 / -1;
    position: fixed;
    z-index: 20;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .noScroll { 
    overflow: hidden;
  }
  
  
/* animations */
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .fadeIn {
    animation: fadeIn 0.6s ease-in-out forwards;
    display: flex;
  }
  
  .fadeOut {
    animation: fadeOut 0.5s ease-in-out forwards;
    display: flex;
  }
  
   h2 {
    font: 2.5rem "Potra", Arial, Helvetica, sans-serif;
  }
  
  .overlayClose {
    grid-area: close;
    height: 2.5rem;
    width: 9rem;
    text-transform: uppercase;
    border-radius: 1rem;
    border: 2px solid #ffffff;
    font-family: "Potra", Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    color: #ffffff;
    cursor: pointer;
    opacity: 0.7;
    background: none;
    transition: text-shadow 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  }
  
   /* noth*/
  .overlayClose:hover, .overlayClose:focus {
    text-shadow: 0 0 4px rgba(214, 210, 157, 0.698);
    box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.918), 0 0 4px 0 rgba(0, 0, 0, 0.6) inset;
  }
  
  /* overlay */
  
  .infoContainer {
    width: 60rem;
    height: 40rem;
    
    padding: 5rem;
    
    display: grid;
    align-items: center;
    grid-template-columns: 22.5rem 5rem 22.5rem;
    grid-template-rows: 3rem 1.5rem 1fr 10rem 2rem 1fr 3rem;
    grid-template-areas:
    "heading heading heading"
    "subhead subhead subhead"
    ". . ."
    "method . method2"
    "desc . desc2"
    ". . ."
    "close close close";
    justify-items: center;
    
    background: #dbb1dd; 
    border-radius: 4rem;
    box-shadow: 0 0 9px 2px rgba(0,0,0,0.6);
  }
  
  .overlayHeading {
    grid-area: heading;
  }
  
  .overlaySubhead {
    grid-area: subhead;
    text-transform: uppercase;
    font-size: 1.5rem;
    opacity: 0.8;
  }
  
   /* radius of sample picture*/
  .overlayMethod {
    grid-area: method;
    height: 80%;
    border-radius: 5rem;
  }
  
  /*radius of bday field in example */
  .overlayMethod2 {
    grid-area: method2;
    border: 6px solid #fff;
    border-radius: 2rem;
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
    box-shadow: 0 0 7px 1px rgba(214,219,141,.6), 0 0 7px 1px rgba(214,219,141,.6) inset;
    text-shadow: 0 0 4px rgba(214, 219, 141, 0.7);
  }

  .overlayDesc {
    grid-area: desc;
  }
  
  .overlayDesc2 {
    grid-area: desc2;
  }
  
  
  /* astrology overlays */
  
  .signInfo {
    width: 60rem;
    height: 40rem;
  
    padding: 5rem;
  
    display: grid;
    align-items: center;
    grid-template-rows: 10rem 4rem 1.5rem 1rem auto 1rem 3rem;
    grid-template-areas:
      "icon"
      "title"
      "date"
      "."
      "desc"
      "."
      "close";
    justify-items: center;
  
    background: #dbb1dd;
    background: -webkit-linear-gradient(165deg, #dbb1dd, #dbb1dd); 
    background: linear-gradient(165deg, #dbb1dd, #dbb1dd); 
    border-radius: 1rem;
    box-shadow: 0 0 9px 2px rgba(241, 234, 234, 0.842);
  }
  
  .elementIcon {
    grid-area: icon;
    height: 100%;
  }
  
  .signName {
    grid-area: title;
  }
  
  .dateRange {
    grid-area: date;
  }
  
  /* birthday form */
  
  #birthdayForm {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
  .formGroup:last-of-type {
    padding-bottom: 0;
  }
  
  input[type="date"] {
    text-align: left;
    height: 2rem;
    padding: 0 0.5rem;
    border-radius: 1rem;
    border: none;
    font: normal normal 0.75rem/1rem "Montserrat", Helvetica, Arial, sans-serif;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease-in-out;
  }
  
  input[type="date"]:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 0 #333333 inset;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  
  input[type="date"]:focus {
    box-shadow: 0 0 2px 0 #333333 inset, 0 0 3px 1px #333333;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  input[type="submit"] {
    height: 2.5rem;
    width: 9rem;
    text-transform: uppercase;
    border-radius: 1rem;
    border: 2px solid #000000;
    font-family: "Potra", Arial, Helvetica, sans-serif;
    font-size: 1rem;

     /* text color for submit*/
    color: #000000;
    cursor: pointer;
    opacity: 0.7;
    background: none;
    transition: text-shadow 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  }
  


  input[type="submit"]:hover,
  input[type="submit"]:focus {
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6), 0 0 4px 0 rgba(0, 0, 0, 0.6) inset;
  }
  

  :invalid {
    box-shadow: none;
  }
  
  :-moz-submit-invalid {
    box-shadow: none;
  }
  
  :-moz-ui-invalid {
    box-shadow: none;
  }
  
  .hidden {
    display: none !important;
  }
  